* {
  font-family: "Nanum Myeongjo", serif, "paybooc-Light", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ol {
  list-style: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}
.hidden {
  display: none;
}
input {
  border: none;
  outline: none;
  /* background: transparent; */
}
